version: "3.8"

services:
  backend_app:
    container_name: backend_app
    build:
      context: backend
    volumes:
      - ./backend/:/backend
      - ./mount/:/mnt
    command: python manage.py runserver 0.0.0.0:8000
    env_file:
      - .env.dev
    ports:
      - 8000:8000
    restart: always

  frontend:
    build:
      context: frontend/
    environment:
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./frontend/:/frontend
    ports:
      - 3000:3000